.navbar
{
  display: flex;
  flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right:10px;
    margin-top:-2%;
  }
  
  li {
    float: left;
    margin:10px;
    cursor: pointer;
  }

  li:hover {
    color: rgba(206, 145, 24, 0.637);
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(174, 255, 0);
  }

  .logo
  {
    margin-top:5px;
    width: auto;
    height: 90px;
    position: sticky;
    top:0;
    left:0;
  }

  .bg
  {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("https://images5.alphacoders.com/110/1103164.jpg");
  }
