.navbar
{
  display: flex;
  flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right:2%;
    margin-top:1%;
  }
  
  li {
    float: left;
    margin:26px;
    cursor: pointer;
    color:white;
  }

  li:hover {
    color: rgb(228, 156, 13);
  }
  
  li a {
    display: block;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(174, 255, 0);
  }

  .logo
  {
    width: auto;
    height: 100px;
    position: sticky;
    top:20px;
    left:35px;
  }

  .bg
  {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("https://cdn.discordapp.com/attachments/1062539451215130764/1066564418697166919/Turquoise_Ocean_Water_Seascape_Hello_Summer_Photo_Collage_Facebook_Cover_1492_842_px_2.jpg");
  }

  .feedback {
    background-color : #59606992;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #00000000;
    font-weight: bold;
  }
  
  #mybutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  #title{
    color:white;
  }

  .title
  {
    margin-top: -10% !important;
  }

  #subtitle{
    color:white;
  }

header {
  position: relative;
  text-align: center;
  color: #fff;
}

header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 40px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -22px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.bounce
{
  animation:bounce;
}


.btnInscription
{
  display: inline-block;
  width: 300px;
  height: 44px;
  margin: 5px 10px 15px 0;
  padding: 10px 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #274991;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  outline: none;
  box-sizing: border-box;
  width: 50%;
}

.inputInscription
{
  width: 230px;
  height: 44px;
  margin: 5px 10px 15px 0;
  padding: 10px 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dde1ed;
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  outline: none;
  box-sizing: border-box;
}

.inputInscriptionName
{
 
  width: 230px;
  height: 44px;
  margin: 5px 10px 15px 0;
  padding: 10px 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dde1ed;
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  outline: none;
  box-sizing: border-box;
  
}
#background_modal_blur
{
  display: flex;
  position:fixed;
  background-color: rgba(66, 66, 66, 0.735);
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  z-index: 40;
  align-items: center;
  align-content: center;
}

#background_modal
{
background-color: #262626f0;
width: 30vw;
position: relative;
margin:auto;
border-radius: 10px;
}
.newsletter_subscription
{
  margin-top:3%;
  width: 100%;
}

.form_newsletter
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_newsletter_name
{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.text_newsletter_promotional
{
  text-align: center;
  margin-bottom: 1%;
  color:white;
  font-size:16.5px;
  line-height: 1.5;
  max-width: 450px;
  width: 100%;
}

.CloseModal
{
  font-size: 30px;
  color:white;
  top:0;
  right: 0;
  position: absolute;
  margin-top: 0.2%;
  margin-right: 1.5%;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}

.modal-backdrop.show {
  display: block;
}

#hamburger_menu
{
  display: none;
}


@media (max-width: 1030px) {

  
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }
  .logo
  {
    display: none;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
.bg{
    background-size:contain;
    height: 69vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }

  #background_modal
{
background-color: #262626f0;
width: 90vw;
position: relative;
margin:auto;
border-radius: 10px;
}
.newsletter_subscription
{
  margin-top:3%;
  width: 100%;
}

.form_newsletter
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_newsletter_name
{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.text_newsletter_promotional
{
  text-align: center;
  margin-bottom: 1%;
  color:white;
  font-size:16.5px;
  line-height: 1.5;
  max-width: 450px;
  width: 100%;
}

.CloseModal
{
  font-size: 30px;
  color:white;
  top:0;
  right: 0;
  position: absolute;
  margin-top: 0.2%;
  margin-right: 1.5%;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}

.modal-backdrop.show {
  display: block;
}

.title
{
  margin-top: 10% !important;
  padding: 5% !important;
}
}








@media (max-width: 1023px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }
  .logo
  {
    display: none;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
.bg{
    background-size:contain;
    height: 69vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }

  #background_modal
{
background-color: #262626f0;
width: 90vw;
position: relative;
margin:auto;
border-radius: 10px;
}
.newsletter_subscription
{
  margin-top:3%;
  width: 100%;
}

.form_newsletter
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_newsletter_name
{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.text_newsletter_promotional
{
  text-align: center;
  margin-bottom: 1%;
  color:white;
  font-size:16.5px;
  line-height: 1.5;
  max-width: 450px;
  width: 100%;
}

.CloseModal
{
  font-size: 30px;
  color:white;
  top:0;
  right: 0;
  position: absolute;
  margin-top: 0.2%;
  margin-right: 1.5%;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}

.modal-backdrop.show {
  display: block;
}
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 65vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 910px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 62vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }
  .animated
  {
    display: none;
  }
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 58vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }
  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}


@media (max-width: 810px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 54vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}


@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
.bg{
    background-size:contain;
    height: 52vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 720px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 49vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 685px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 47vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 650px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 44vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 615px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 42vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 580px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 40vh;
    width: 101vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}

@media (max-width: 560px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 39vh;
    width: 103vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 60px;
    z-index: 90;
  }

  .animated
  {
    display: none;
  }
}


@media (max-width: 540px) {
  .menu {
    display: none;
  }
  .menu-icon
  {
  display: block;
  }

  #hamburger_menu
  {
    display: block;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.bg{
    background-size:contain;
    height: 33vh;
    width: 100vw;
  }
  header
  {
    background: none;
  }

  .logo
  {
    display: none;
  }

  #mybutton
  {
    position:fixed;
    bottom: 20px;
    right: 35px;
    z-index: 90;
  }
  .animated
  {
    display: none;
  }
}

